.guess {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}



.guess input {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.25rem .5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 75px;
    text-align: center;
}

.guess .icon {
    font-size: 1.5em;
}

@media screen and (max-width: 768px) {
    .guess {
        gap: .5rem;
    }
    .guess input {
        width: 50px;
    }
}